.details-container {
  margin-top: var(--space-lg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details-container a {
  display: inline-block;
  text-decoration: none;
}

.details-content {
  margin-top: var(--space-xl);
  width: 100%;
}
