.show-presentation {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .show-presentation {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.show-presentation > img {
  margin-right: var(--space-lg);
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .show-presentation > img {
    width: 180px;
    height: 300px;
  }
}

.show-presentation h1 {
  text-align: left;
  margin-top: 0;
}

.information-row {
  display: flex;
  margin-bottom: var(--space-md);
}

.information-row img {
  margin-right: var(--space-sm);
  padding-top: 2px;
}
